<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="isAuthenticated">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Dashboard</span>
    <span class="fill-space"></span>
    <nav>
      <a mat-icon-button (click)="signOut()" href="#">
        <mat-icon>exit_to_app</mat-icon>
      </a>
   </nav>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"  fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/foods" routerLinkActive="active-link">Foods</a>
      <a mat-list-item routerLink="/categories" routerLinkActive="active-link">Categories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
