@using IdentityServer4.Extensions
@using Microsoft.Extensions.Configuration
@using Identity.API.Utils

@inject IConfiguration configuration

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
    var basePath = configuration.GetBasePath();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Identity</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="@basePath/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="@basePath/css/site.css" />
</head>
<body>
    <div class="h-100">
        @RenderBody()
    </div>
    <script src="@basePath/lib/jquery/jquery.min.js"></script>
    <script src="@basePath/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="@basePath/js/my-login.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
