@using Identity.API.Controllers.Account
@model Identity.API.Controllers.Account.RedirectViewModel

@using Microsoft.Extensions.Configuration
@using Identity.API.Utils

@inject IConfiguration configuration

<h1>You are now being returned to the application.</h1>
<p>Once complete, you may close this tab</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
@{ var basePath = configuration.GetBasePath(); }
<script src="~@basePath/js/signin-redirect.js"></script>

