table {
  width: 100%;
}

.container {
  position: relative;
  padding: 20px;
}

.pos-fix {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  top: auto;
  left: auto;
}

.mat-cell:nth-child(1), .mat-header-cell:nth-child(1){
  flex: 0 0 45%;
}

.mat-cell:nth-child(2), .mat-header-cell:nth-child(2){
  flex: 0 0 45%;
}

.mat-cell:nth-child(3), .mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}
