<div>
  <div class="ui horizontal list" style="padding:20px;">
    <div class="item">
      <img class="ui mini circular image" src="/assets/steve.jpg">
      <div class="content">
        <div class="ui inverted grey">Welcome</div>
        Admin
      </div>
    </div>
  </div>
  <a routerLink="/foods" routerLinkActive="active" class="item">Foods</a>
  <a routerLink="/categories" routerLinkActive="active" class="item">Categories</a>
  <a href="#" class="item">Daily Eatings</a>
  <a href="#" class="item">Users</a>
</div>
