<div class="ui raised very padded text container segment">
  <form class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="description" placeholder="Description">
    </div>

    <div class="two fields">

      <div class="field">
        <label>Price</label>
        <input type="text" name="price" placeholder="Price">
      </div>

      <div class="field">
        <label>Category</label>
        <!-- <select [(ngModel)]="question.category" class="ui fluid dropdown">
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select> -->
      </div>

    </div>

    <div class="field">
      <label>Picture</label>
      <input type="file">
    </div>

    <button class="ui button blue" type="submit">Save</button>
    <button class="ui button" type="submit">Cancel</button>
  </form>
</div>
