<div class="ui container basic segment" [ngClass]="{ loading : isLoading }">

  <table class="ui red celled table">
    <thead class="full-width">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">

        <td>{{food.name}}</td>

        <td>{{food.description}}</td>

        <td>{{food.price}}</td>

        <td>{{food.category?.name}}</td>

        <td>
          <img [src]="food.picture" class="ui mini rounded image">
        </td>

      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="5">
          <a routerLink="/foods/create" class="ui right floated small primary labeled icon button">
            <i class="plus icon"></i> Create food
        </a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
