@{
    ViewBag.Title = "Restaurant service API";
}

<h2>server is live!</h2>
<a href="/api/foods/GetAll">Foods controller</a> <br/>
<a href="/api/orders">Orders controller</a> <br />
<a href="/api/categories">Categories controller</a><br />
