apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

bases:
  - "../base"

patchesStrategicMerge:
  - "http_route_patch.yaml"

configMapGenerator:
  - name: catalog-api
    envs: [config.env]
    behavior: merge
